html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Comienzo*/

*{
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

body {background-color: #262626;}

/*Caja central*/
.universal{
	background-color: rgb(252, 252, 252);
	min-width: 574px;	
	max-width: 930px;
	margin: auto;
}


/*Primera y segunda Tarjeta*/
.contenedor{
	background-color: white;
	width: 450px;
	height: 250px;
	margin: 10px 0px 10px 10px;
	border-radius: 20px;
}
.caja1 img{
	margin: 35px 0px 0px 30px;
	border-radius: 20px;
}
.caja2 h2{
	padding: 10px 0px 0px 20px;
	font-size: 35px;
	font-weight: 600;
}
.caja3 h3{
	padding: 20px 20px 0px 20px;
	font-size: 20px;
	color: rgb(87, 87, 87);
}

/*Contenedor A*/
.contenedorA{
	float: left;	
}

/*Contenedor B*/
/*Tercera tarjeta*/
.contenedorB{
	background-color: white;
	width: 450px;
	height: 515px;
	margin: 10px 10px 10px 10px;
	border-radius: 20px;
	float: left;
}
/*Caja 1*/
.Caja1 img{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 450px;
	height: 200px;
}
.Caja1{
	width: auto;
	height: 300px;
}
/*Caja2 */
.Caja2{
	padding: 20px 0px 0px 20px;
}
.Caja2 label{	
	font-size: 20px;
	color:rgb(240, 93, 48);
}
.Caja2 h2{
	font-size: 40px;
	margin: 5px 0px 0px 0px;
	font-weight: 600;
}
.Caja2 p{
	margin: 20px 0px 0px 0px;
	font-size: 18px;
}
/*Caja3*/
.Caja3{
	display: flex;
	align-items: center;
}
.Caja3 img{
	border-radius: 100px;
	height: 80px;
	width: 80px;
	margin: 20px 0px 0px 20px;
}
.Caja3 h3 strong{
	font-weight: 800;
}
